

   body{
    margin:0;
    height: 100%;
    width:100%;
 } 
 .center {
    font-size: 10px;
    font-family: sans-serif;
    font-weight:400;
    text-align: center;
} 
 .inputField{
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    position: relative;
} 
 label {
    display: inline-block;
    width : 120px;
    height: 30px;
    margin: 10px 25px;
} 
 #URLInput{
    width: 80%;
    height: 30px;
    background-color: white;
    margin: 0px 10px;
    justify-content: left;
    border-radius: 10px;
} 
 #topText{
    display: inline-block;
    width: 80%;
    height: 30px;
    background-color: white;
    margin: 10px ;
    border-radius: 10px;
} 
 #bottomText{
    display: inline-block;
    width: 80%;
    height: 30px;
    background-color: white;
    margin: 10px ;
    border-radius: 10px;
} 
 .submitBtn{
    display: flex;
    justify-content:flex-end;
} 
 #submitBtn{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(62,166,231);
    color:white;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 60px;
    padding: 20px, 25px;
} 
 #submitBtn:hover{
    background-color: rgb (35,101,235);
    cursor: pointer;
    transition: 0.7s;
} 
 #submitBtn:active{
    transform:translateY(5px);
} 
.clearBtn{
   display: flex;
   justify-content:flex-end;
} 
#clearBtn{
   font-family:Arial, Helvetica, sans-serif;
   background-color: rgb(231, 62, 62);
   color:white;
   font-size: 20px;
   border-radius: 5px;
   margin: 10px 60px;
   padding: 20px, 25px;
} 
#clearBtn:hover{
   background-color: rgb (35,101,235);
   cursor: pointer;
   transition: 0.7s;
} 
#clearBtn:active{
   transform:translateY(5px);
} 












.memeImage {
    list-style: none;
    width: auto;
    height: auto;
    margin: 0px;
    position:relative;
    display: block;
 }  
  #memeImage{
    display: flex;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }  

 .meme-img {
    display: flex;
    margin: 1px;
    width: auto;
    height: auto;
    text-align: center;
    position: relative;
   opacity: 1; 
   
 }  
 img {width: 350px;}

 .meme-img:hover {opacity: 0.6;} */
 
.cancleSymbole {
    width: 500px;
    height: 250px;
    content: "&#10060";
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -66%);
    font-weight: 700;
    text-align: center;
    font-size: 1500%;
     opacity: 0;
}
 .cancleSymbole:hover {
    opacity: 1.6;
    z-index: 20;
} 
  .text {
    font-family: Impact, Arial, sans-serif;
    width: 500px;
    font-size: 250%;
    line-height: 1.1em;
    letter-spacing: 1.5px;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: black; 
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    opacity: 1;
 }  
  
 .text:hover {opacity: 0.6;} 
 
 .top {
    
    position: absolute;
    box-sizing: content-box;
    top: 0%;
    left: -60px;
} 
  
.bottom {
    position: absolute;
    box-sizing: content-box;
    bottom: 0%;
    left: -60px;

 }   
